html {
	background-color: #F4F4EC;
}
a {
	text-decoration: none;
}
li.menuLi {	
	font-size:1.4em;
	text-align:center;
	display:inline-block;	
	padding-top:7px;
	height: 100%;
	margin: 0px;
	color:#809fff;
}
li.menuLi:hover {
	font-size:1.4em;
	color:#F4F4EC;
	background-color:#809fff;
}
ul.menu {
	height:45px;
}
.container-fluid {
	background-color:#F4F4EC;
}
.diferente {
	background-color:#809fff;
	font-size: 1.1em;
	color:#352d2d;
}
footer{
	text-align: center;
}
img.logo {
	width:18%;
	display:inline-block;
	float:left;
	margin-left:7%;
}
form {
	text-align: center;
}
p{
	text-align: center;
}
h4{
	text-align: center;
}
textarea, input {
	background-color:#F4F4EC;
}