ul.menu {
	height:45px;
}
div.menuLi {
	margin-top:9px;
}

.diferente {
	background-color:#809fff;
	font-size: 1.2em;
	color:#352d2d;
}
footer{
	text-align: center;
}

.links {
	color:black;
	margin-top:10px;
}
.list-group-item	{
	background-color:#809fff;
	border: none;
}
