.header {
	
}

.container-fluid {
	background-color:#F4F4EC;
	
}
.diferente {
	background-color:#809fff;
}

footer{
	text-align: center;
}

.list-group-item	{
	background-color:#809fff;
	border: 0px;
}

.menu	{
	display:inline-block;
	background-color:#F4F4EC;;
	border: solid black 1px;
}

.menuItem:hover	{
	font-size: 110%;
	color: blue;
}

.linkMenu	{
	text-decoration: none;
}
